* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.modal-btn,
.open {
    border: none;
    padding: 15px 40px;
    cursor:crosshair ;
    outline: none;
    color: white;
    background: rgba(0, 128, 0, 0.651);
    border-radius: 10px;
    font-size: 15px;
    
    
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.048);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;


}

.modal {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 30px;
    opacity: 1;
    -webkit-box-shadow: 0px 5px 15px 0px #000000;
    box-shadow: 0px 5px 15px 0px #000000;
}

.modal p {
    margin-bottom: 30px;
    line-height: 1.6;

}

.show {
    opacity: 1;
}